
html{
	scroll-behavior: smooth;
}

p {
	font-size: 12px;
}
.row{
	margin: 0;
	padding: 0;
}
a{
	cursor: pointer;
}

body {
	font-family: sans-serif;
	/* overflow-x: hidden; */
}
.container-header,
.product,
.offer,
.feature,
.showcase,
.comment-wrapper,
.tour-wrapper,
.start-wrapper,
.link-wrapper{
	overflow: hidden;
}

.but{
	border: none;
	outline: none;
	border-radius: 10px;
	padding: 5px 10px;
	color: rgb(92, 2, 71) !important;
	background: white;
	margin: 0;
	display: inline;
}

.btn1 {
	border: none;
	outline: none;
	border-radius: 10px;
	padding: 5px 10px;
	color: white !important;
	background: rgb(124, 5, 97);
}

.btn2 {
	border: none;
	outline: none;
	border-radius: 10px;
	padding: 5px 10px;
	color: white !important;
	background: rgb(240, 106, 8);
}

/*header*/

.logo i{
	font-size:35px;
	color:rgb(248, 155, 89)!important;
}

.bar{
	border: 2px solid #741274;
	padding:0px 5px;
	display: none;
	font-size: 20px;
	font-weight:900;
}

.bar i{
	color:#d86dd8 !important;
	cursor: pointer;
	transition:  0.8;
}

.bar i:hover{
	color:#f1e6f1 !important;
	outline: none;
}

.container-header {
	background: linear-gradient(to left, rgba(226, 31, 181, 0.88), rgba(175, 108, 172, 0.85));
	padding-top: 20px;
	color: white;
}

.container-header .row {
	width: 90%;
	margin: auto;
}

.hr {
	border-top: 100px solid transparent;
	border-left: 1150px solid white;
	width: 100%;
	color: white;
}

/* .vid {
	border: 3px green solid;
	width:100%;
	height: 300px;
	margin: auto;
} */

.header-wrapper {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: auto;
	margin-bottom: 50px;
	box-sizing: border-box
}

.header-wrapper ul {
	display: flex;
	justify-content: space-between;
	width: 50%;
	list-style: none
}
.header-items{
	width: 100%;
}
.header-wrapper ul li a {
	color: #f2e7e7;
}

.header-wrapper ul li i {
	margin-left: 5px;
}

.container-header i {
	color: #f2e7e7;
}

.header-items input {
	color: #434648;
	border: none;
	width:50%;
	display: inline;
	box-sizing: border-box
}

.header-items h3 {
	margin: 10px 0;
}

.input-wrapper {
	border: 1px solid white;
	display:flex;
	justify-content: space-between;
	width:75%;
	box-sizing: border-box;
	border-radius: 20px;
	padding:10px 5px;
	background: white;
	margin:50px auto;
	overflow: hidden;
}

.header-text {
	width: 80%;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 20px;
}

.header-text h3 {
	font-size: 18px;
}

.header-text .it {
	width: fit-content;
	margin: auto
}

.header-text .icons {
	display: flex;
	justify-content: space-between
}

.icons i {
	font-size: 50px
}

/* drop-down */

.drop{
	display: none;
	width:50%;
	background: linear-gradient(to left, rgba(226, 31, 181, 0.88), rgba(175, 108, 172, 0.85));
	margin: auto;
	margin-right:25px !important;
	padding: 20px;
	margin-top: -50px;
	margin-bottom: 10px;
}
.drop ul li{
	margin-top: 20px;
	list-style: none;
	color:#f2e7e7 ;
}
.drop ul li a{
	color:#f2e7e7;
}


/*product*/

.product {
	width:60%;
	margin: auto;
	margin-top:0px;

}

.product-text {
	width: fit-content;
	margin: auto;
	text-align: center;
	margin-bottom: 50px;
}

.product h1 {
	font-size: 25px;
	color: rgb(7, 7, 78);
	font-weight: 700
}

.product .rap {
	border-radius: 20px;
	width: 220px;
	box-shadow: 2px 3px 10px #7b7272;
	margin: auto;
	padding: 20px 10px;
	height: 300px;
	margin-bottom: 50px
}

.product i {
	font-size: 55px;
	color: rgb(240, 106, 8);
	margin-bottom: 10px;
	margin-top: 10px;
}

.rap h3 {
	font-size: 20px;
	margin-bottom: 10px;
	color: rgb(7, 7, 78);
	font-weight: 550
}

.product p {
	font-size: 12px;
	color: rgb(10, 10, 109);
}


/*offer*/

.offer p {
	font-size: 12px;
	color: rgb(10, 10, 109);
}

.offer h3 {
	font-size: 20px;
	margin-bottom: 10px;
	color: rgb(7, 7, 78);
	font-weight: 550
}

.offer h1 {
	font-size: 25px;
	color: rgb(7, 7, 78);
	font-weight: 700
}

.offer .text {
	width: 60%;
	margin: auto;
	margin-bottom:60px;
	margin-top: 50px;

}

.offer {
	text-align: center;
	margin: auto;
	width:70%;
	margin-top: 20px;
	margin-bottom: 50px
}
.offer .row .col-md-3{
	margin-top: 20px;
}

.offer i{
	color:rgb(240, 106, 8);
	font-size:33px;
}

/* features */

.feature{
	margin: auto;
	margin-top:70px;
	margin-bottom:50px;
	text-align: center;
	width: 70%;
}
.feature p {
	font-size: 12px;
	color:black;
}

.feature-text{
	margin-bottom: 50px;
}
.feature-text h3{
	font-size: 25px;
	color: rgb(7, 7, 78);
	font-weight: 700
}

.feature-text p{
	color: rgb(7, 7, 78);
}

.feature h4 {
	font-size: 20px;
	margin-bottom: 10px;
	color:black;
	font-weight: 550
}

.feature i{
	font-size:35px;
	margin: 10px auto 20px auto;
	color:rgb(240, 106, 8);
}

.feature .col-md-3{
	margin: 0;
	padding: 0;
}
.feature .wrap{
	margin: 0;
	height: 250px;
	margin-left: 0;
	padding:10px;
	color: black;
	text-align: center;
	width: 200px;
	box-shadow: 1px 1px 6px rgb(172, 168, 168);
	transition: all 0.8s;
	cursor: default;
}
.feature .red{
	margin: 0;
	height: 250px;
	margin-left: 0;
	padding:10px;
	background: rgba(193, 195, 224, 1);
	color: black;
	text-align: center;
	width:199px;
	transition:all 0.8s;
	cursor: default;
}

.feature .wrap:hover{
	background: rgba(233, 230, 230, 0.795);
	outline: none;
}
.feature .red:hover{
	background:rgb(235, 235, 241);
	outline: none;
}

/* show case */

.showcase{
	color: white;
	background:#923092;
	margin:150px 0;
	padding: 100px;
	text-align: center;
}
.showcase .fr{
	text-align: left;
	padding: 0;

}
.fr h1{
	margin: 0 0 30px 0;
	font-weight:650;
}

.showcase ol{
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

.fr li{
	font-size:33px;
	font-weight: 600;
	color:#b675b6;
}

.fr .active{
	color: white;
}

/* comment */

.comment-wrapper{
	text-align: center;
	position: relative;
}
.comment-wrapper .text h2{
	margin-top: 0;
	margin-bottom:30px;
	color: rgb(7, 7, 78);
	font-weight: 600;
}

.comment-text{
	width:420px;
	margin: auto;
}

.comment-wrapper i{
	position: absolute;
	top:50%;
	right:10%;
	font-size:25px;
}
.comment-wrapper .l{
	position: absolute;
	top:50%;
	left:-65%;
	font-size:25px;
}

.comment-wrapper hr{
	border:5px solid #923092;
	width: 50%;
	margin-left: 0;
	margin-top:50px;
}

/* tour */

.tour-wrapper{
	text-align: center;
	margin:70px 0;
	margin-bottom:300px;
}
.tour-wrapper h1{
	color: rgb(7, 7, 78);
	font-weight:500;
	font-size:32px;
	margin-bottom: 50px;
}
.vido{
	width:80%;
	margin: auto;
}

/* Footer */

footer{
	position: relative;
	background:#3f143f;
	color: white;
	box-sizing: border-box;
	width: 100%;
	padding: 50px;
}

footer:before{
	position: absolute;
	background: inherit;
	width: 100%;
	height: 100%;
	content: "";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	transform-origin:left;
	transform: skewY(-5deg);
}
.start-text{
	margin-bottom: 50px;
	margin-top: 20px;
}

.start-wrapper{
	color: white;
	background:#923092;
	width: 80%;
	margin: auto;
	margin-top: -200px;
	text-align: center;
	padding: 30px;
	border-radius: 20px;
}

.start-wrapper .input-wrap{
	border: 1px solid white;
	padding:12px 5px;
	box-sizing: border-box;
	display: inline;
	border-radius: 20px;
	background: white;
}
.start-wrapper input{
	border: none;
}
.start-wrapper .int{
	width:50%;
	margin: 25px auto;
	text-align: left;
	font-size:11px;
	margin-top:20px;
}

.start-wrapper .fon i,h4{
	display: inline;
	font-size:13px;
}

.link-wrapper{
	display: flex;
	justify-content: space-between;
	margin: auto;
	margin-top: 30px;
	width: 80%;
}
.link-wrapper h3{
	font-size:15px;
	font-weight: 600;
}
.link-wrapper li{
	list-style: none;
	font-size: 12px;
	color: rgb(167, 158, 158);
	margin-top: 10px;
}

.link-wrapper i{
	margin: 10px 13px 10px 0;
	color: gray;
	font-size: 15px;
	cursor: pointer;
	transition: ease-in 0.5s;
}

.link-wrapper i:hover{
	color: white;
}

.link-wrapper .logo i{
	font-size:40px ;
}
.coment-img{
	margin-top: 20px;
}
.coment-img img{
	border-radius:48%;
	margin-top: 10px;
	margin-bottom: 15px;
}
.fl img{
	margin-top:50px;
	width:300px;
}

/* ==============
===Media queries */

@media(max-width: 900px){
	.btn1 {
		border: none;
		outline: none;
		border-radius: 10px;
		padding: 5px;
		color: white;
		background: rgb(124, 5, 97);
		font-size: 15px;
		font-weight:100;
	}
	.but{
		font-size: 15px;
		font-weight:100;
		margin-right: 10px;
	}
	.header-wrapper ul{
		display: none;
	}
	.btn2 {
		border: none;
		outline: none;
		border-radius: 10px;
		padding: 5px;
		color: white;
		background: rgb(240, 106, 8);
		font-size: 12px;
		font-weight:100;

	}
	.container-header,
	.offer,
	.feature,
	.showcase,
	.comment-wrapper,
	.tour-wrapper,
	.start-wrapper,
	.link-wrapper{
		overflow: hidden;
	}
	.container-header{
		margin: auto;
		padding: 0;
		padding-top: 20px;
	}
	.col-md-6{
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.col-md-5{
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.header-items{
		margin: auto;
		padding: 0;
	}
	.icons i {
		font-size:22px
	}
	.container{
		margin: auto;
	}
	.product{
		width:70%;
	}
	.offer{
		width:100%;
	}
	.offer .text{
		width:70%;
		margin: 50px auto;
	}
	.feature{
		width:90%;
		margin: auto;
		margin-top: 30px;
	}
	.feature .red{
		margin: auto;
		margin-bottom:50px;
	}
	.feature .wrap{
		margin: auto;
		margin-bottom:50px;
	}
	.showcase{
		padding: 20px 0;
		text-align: center;
		font-size: 20px;
	}
	.showcase h1{
		font-size:25px;
		margin-bottom: 10px;
	}
	.showcase li{
		font-size:20px;
	}
	.showcase .fl{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.comment-wrapper{
		width: 100%;
		margin-bottom:60px;
	}
	.tour-wrapper{
		margin-bottom:500px;
	}
	.comment-wrapper h2{
		font-size: 20px;
		margin-bottom:10px !important;
	}
	.comment-wrapper h5{
		margin-top:0px;
		font-size: 15px;
	}
	.comment-text{
		width: 90%;
		margin-left:10px;
		text-align: left;
	}
	.coment-img h4{
		font-size: 14px;
		display: block;
		margin-bottom: 5px;
	}
	.start-wrapper input{
		width: 50%;
		outline: none;
	}
	.start-text{
		margin-bottom:30px;
	}
	.input-wrap a{
		display: inline-block;
	}
	footer{
		padding: 0;
	}
	.int{
		text-align: center !important;
		width:100% !important;
		margin:auto!important;
		margin-top: 30px !important;
	}
	.start-wrapper h1{
		font-size: 25px;
	}
	.start-wrapper p{
		margin-bottom: 0;
	}
	.start-wrapper{
		position: relative;
		top:-200px !important;
		width:90%;
	}
	.link-wrapper{
		width:95%;
		margin: auto;
		margin-top: -100px;
		padding-bottom: 20px;
	}
	.link-wrapper h3{
		font-size: 12px;
		margin: auto;
	}
	.link-wrapper li{
		font-size: 10px;
	}
	.bar{
		display: block;
	}
}











